html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.steel-type-container {
  width: 100%;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.table-wrapper {
  width:100%;
  padding:5%;
}

.shape-group-1 {
  width:800px;
  float:left;
}

.shape-group-1 button {
  width:100px;
  border: 1px solid white;
  border-radius: 0px;
  min-height:100px;
}

.steel-type-group {
  float:left;
  width:102px;
  margin-left:45px;
}

.steel-type-group button {
  width:100px;
  border: 1px solid white;
  border-radius: 0px;
  min-height:100px;
}

.current {
  background-color:#c77e19 !important;
}

.currentSteelType {
  background-color:#1762d3 !important;
}